<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<title>{{TODO}}</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-wysihtml5.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/highlightjs/xcode.css">
	<style>
    body {
      background-color: #CCC;
      border: none;
    }
    .block {
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
	</style>
</head>
<body>
	<div class="container" style="margin-top:20px; margin-bottom:20px">
		<div class="row">

			<div class="col-md-2 alert-list">
			</div>

			<div class="col-md-8">

				<div class="row block">
					<div class="col-md-12" style="padding:0">
						<input type="text" id="title-input"class="form-control" placeholder="Title" value="{{post.title}}">
					</div>
					<!-- <div class="col-md-1" sytle="padding-left:10px">
						<a id="publish-btn" class="btn btn-primary">保存</a>
					</div> -->
				</div>

				<div class="row block">
	        <textarea id="editor-textarea" class="textarea " placeholder="Enter text ..." style="background-color: rgb(255, 255, 255); border-collapse: separate; border: 1px solid rgb(204, 204, 204); clear: none; display: block; float: none; margin: 0px; outline: rgb(85, 85, 85) none 0px; outline-offset: 0px; padding: 6px 12px; position: static; top: auto; left: auto; right: auto; bottom: auto; z-index: auto; vertical-align: middle; text-align: start; -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-left-radius: 4px; width: 100%; height: 500px;">{{post.content}}</textarea>
				</div>

			</div>
			

		</div>
			
	
		<div class="row">
			
		</div>
	</div>
	<script src="/static/js/wysihtml5-0.3.0.js"></script>
	<script src="/static/js/jquery-2.0.3.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap3-wysihtml5.js"></script>
	<script src="/static/js/highlight.pack.js"></script>

	<script>
	var post_id = "{{post.post_id}}";
	function warning(type, message){
		$(".alert-list").prepend("<div class='alert alert-"+type+" alert-dismissable block'>"+
				  "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>"+
				  "<span class='message'>"+message+"</span>"+
				"</div>")
	}
	$('#editor-textarea').wysihtml5();
	$('.post-publish').click(function(){
		title = $('#title-input').val();
		if(title!=""){
			$.ajax({
				type:"POST",
				data:{title:title, content: $('#editor-textarea').val(), post_id:post_id},
				success: function (data, textStatus) {
					data = JSON.parse(data);
					if(data.type=="success"){
						if(post_id){
							warning("success", "<a href='/post/"+post_id+"' target='_blank' class='alert-link'>更新成功！</a>")
						}else{
							post_id = data.post_id
							warning("success", "<a href='/post/"+post_id+"' target='_blank' class='alert-link'>发布成功！</a>")
						}
					}else{
						warning("warning", data.message)
					}
				}
			})
		}else{
			warning("warning", "没有写标题诶~")
		}
	})
	// $('#editor-textarea').
	</script>
</body>
</html>